.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          / = link_to image_tag(@prototype.user.avatar, alt: "64x64", class: "media-object", style: "width: 64px; height: 64px;", data: { src: "holder.js/64x64" }, data: { holder: { rendered: "true" } }), user_path(@prototype.user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to @prototype.user.name, prototypes_user_path(@prototype.user)
          %span.degree
            = @prototype.user.profile
    #like_box
      =render partial: 'likes/like'
    .row
      .col-md-9
        = link_to image_tag(@prototype.thumbnails.main.first.image), prototype_path(@prototype), class: "img-responsive"
      .col-md-3
        %ul.proto-sub-list.list-group
          %li.list-group-item
            = link_to image_tag(@prototype.thumbnails.sub.first.image), prototype_path(@prototype), class: "img-responsive"
          %li.list-group-item
            = link_to image_tag(@prototype.thumbnails.sub.first.image), prototype_path(@prototype), class: "img-responsive"
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catchcopy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{:href => "#", :class => "btn btn-default"} iPad
        %li
          %a{:href => "#", :class => "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@prototype.comments.count})
    .col-md-8
      #comments
        = render partial: 'comments/comment', collection: @comments
      .form-inline
        = form_for @new_comment, remote: true do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :comment, class: "form-control", placeholder: "Your comments", rows: "3"
              = f.hidden_field :prototype_id, value: @prototype.id
            .form-group.col-md-2
              = f.submit :comment, class: "btn btn-primary", value: "Comment"
