.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")
.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          = link_to "Popular PROTO", prototypes_popular_index_path
        %li{role: "presentation"}
          = link_to "Newest PROTO", prototypes_newest_index_path
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags
.container
  .row
    .col-sm-12.proto-content
      .thumbnail
        = button_tag @tag, type: 'button', class: "btn btn-tag", style: "width: 100%; height: 50px; font-size: 2rem; font-weight: 300; padding-bottom: 3px; color: #999; background-color: #eee;"
        .tag-meta
          %a{href: tag_path(@tag), style: "display: block; font-size: 1.3rem; border-radius: 2px; margin: 0 -2px 2px;", class: "label label-default tag-list-number"}
            = @tag
            %i Protorypes
.container.proto-list
  .row
    = render partial: 'prototype', collection: @prototypes
.text-center
  = paginate @prototypes
